$box-shadow: 0 0px 15px #142232, 0 0px 15px black;
$black: #101e2c;
$black-two: #182a3d;
$dark-blue: #101e2c;
$light-blue: #6d9bad;
$light-gray: #c2c3b9;
$light-green: linear-gradient(to right, #66ff33 -16%, #009933 89%);
$light-greeny: #66ff33;
$dark-greeny: #009933;
$dark-red: #c83737;
